{% extends "layout.html" %}

{% block content %}

<div class="container-form">
  <div class="col-xs-6">
    {% from "_macros.html" import render_input %}
    <h1>Cajas dinámicas</h1>
    <br>
    <p style="font-size: 15px; font-weight: bolder;">* Ingresa el numero de cajas deseadas *</p>
    <form action="/Caja" method="POST">
      <div class="control-group"> 
        <div class="controls">
          {{render_input("txtCampoN", type = "number") }}
          <input type="submit" class="btn btn-success" value="Generar cajas">
        </div>
      </div>
    </form>
  </div>
</div>

{%endblock%}